---
layout: default
---
<div class="back-link">
    <a href="#" onclick="history.back(); return false;">&larr; Back</a>
</div>

<article>
    <h1>{{ page.title }}</h1>
    
    {{ content }}
    
</article>

{% if page.libraries %}
    {% for lib in page.libraries %}
        <script src="{{ lib }}"></script>
    {% endfor %}
{% endif %}

{% if page.scripts %}
    {% for script in page.scripts %}
        <script src="{{ '/assets/js/' | append: script | relative_url }}"></script>
    {% endfor %}
{% endif %}
